@font-face {
    font-family: 'KT';
    src: url('/assets/font/KTfontBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

.wrap {
    width: 1280px;
    margin: 0 auto;
}

.sc-visual {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding-top: 180px;
}

.vs-txt {
    text-align: center;

}

.vs-txt span {
    color: #00BFBE;
    font-size: 24px;
    opacity: 0;
    display: block;
}

.vs-txt h2 {
    color: #222222;
    font-size: 60px;
    margin-bottom: 15px;
    font-family: 'KT';
    opacity: 0
}

.vs-txt p:first-child {
    font-size: 18px;
}

.vs-img svg {
    opacity: 0;
}

.vs-txt p {
    font-size: 24px;
    color: #555555;
    line-height: 42px;
    margin-bottom: 20px;
    opacity: 0
}

.vis_icon [class*="vis_"] {
    position: absolute;
    left: 50%;
    opacity: 0;
}

.vis_icon01 {}

.vis_icon02 {

    left: 50%;
    margin-left: -590px;
}

.vis_icon03 {
    top: 420px;
    left: 20%;
    margin-left: -690px;
}

.vis_icon04 {
    top: 200px;
    left: 50%;
    margin-left: -800px;
}

.vis_icon05 {

    left: 50%;
    margin-left: -590px;
}

.vis_icon06 {

    left: 50%;
    margin-left: -590px;
}

.vis_icon06 {

    left: 50%;
    margin-left: -590px;
}

.sc-visual .free-link {
    width: 220px;
    height: 58px;
    display: block;
    border-radius: 12px;
    box-shadow: 5px 12px 20px rgba(0, 198, 229, 0.3);
    line-height: 58px;
    text-align: center;
    color: #fff;
    -size: 20px;
    font-weight: 500;
    background: linear-gradient(45deg, rgba(0, 201, 200, 1) 0%, rgba(0, 130, 229, 1) 100%);
    transition: box-shadow .4s;
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 67px;
    opacity: 0;
}

.sc-visual:before {
    content: '';
    display: block;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #EAF8FB;
    width: 100%;
    z-index: -1;
}

.sc-contents {
    padding-top: 160px;
    background: linear-gradient(176deg, #fff, #F4F6F9);
    padding-bottom: 210px;
    position: relative;
    z-index: 3;
    overflow: hidden;
    display: flex;
}

.sc-contents h3 {
    display: block;
    text-align: center;
    font-size: 42px;
    color: #222222;
    font-weight: 500;
    margin-bottom: 30px;
    line-height: 58px;
    font-weight: 600;
}

.work-group {
    display: flex;
    gap: 50px;
}

.cont-left {
    width: 418px;
}

.cont-left ul {}

.cont-left .tab>ul>li {
    margin-bottom: 10px;
}

.cont-left .tab>ul>li.on {
    margin-top: 25px;
}

.cont-left .tab>ul>li button {
    display: block;
    height: 88px;
    padding: 0 40px;
    width: 100%;
    text-align: left;
    border-radius: 30px 30px 0 0;
    font-size: 26px;
    font-weight: 500;
    color: #FFFFFF;
    position: relative;
    background: linear-gradient(45deg, rgba(48, 213, 212, 0) 0%, rgba(0, 166, 229, 0) 100%);
    color: #AEAEAE;
    transition: 1s;

}

.info-list {
    display: none;
}

.cont-left .tab>ul>li.on button {
    background: linear-gradient(45deg, rgba(48, 213, 212, 1) 0%, rgba(0, 166, 229, 1) 100%);
    color: #fff;
}

.cont-left .tab>ul>li>ul {
    background: #FFFFFF;
    padding: 0 40px;
    display: none;
    border-radius: 0 0 30px 30px;
}

.cont-left .tab>ul>li.on>ul {
    display: block;
}

.cont-left .tab>ul>li>ul>li {
    font-size: 20px;
    line-height: 32px;
    color: #222222;
    padding: 20px 0;
    border-bottom: 1px solid #E5E8E8;
}

.cont-right {
    width: 970px;
}

.cont-right .img-list {
    display: none;
}

.cont-right .on ul {
    position: relative;
    display: block;
}

.cont-right .on ul>li {
    position: absolute;
    top: 0;
}

.cont-wrap .on [class*='con'] {
    display: block;
}

.cont-wrap .on [class*='con'] .img-list li {
    opacity: 0;
}

.work-group>* {
    opacity: 0;
}

.cont-wrap [class*='con'] {
    display: none;
}

.cont-left .on ul>li>ul {
    display: block;
}

.con01 ul>li {}